<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create page of CRUD App!!!</title>
</head>
<body>
Create page!
<a href="/admin/users">List All</a>
<form action="/admin/createUser"  method="POST" >

    <p>First_Name: <input type="text" name="firstName"></p>
    <p>Last_Name: <input type="text" name="lastName"></p>
    <p>Age: <input type="number" name="age"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Username <input type="text" name="username"></p>
    <p>Password: <input type="text" name="password"></p>
    <p><input type="checkbox" name="role" value="ROLE_ADMIN"> ADMIN</p>
    <p><input type="checkbox" name="role" value="ROLE_USER" checked> USER</p>
    <p><input type="checkbox" name="role" value="ROLE_USER_ADMIN" > USER_&_ADMIN</p>

    <p>Action: <input type="submit" name="user_test"></p>

</form>
</body>
</html>