<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit page of CRUD App!!!</title>
</head>
<body>
Update page!
<a href="/admin/create">Create</a> or
<a href="/admin/users">List all</a>  or <a href="/logout">Logout</a>

<form th:inline="text" th:action="@{/admin/update}" th:object="${user}" method="POST" >
    <tr><p>Id: [[${user.id}]]<input th:type="hidden" th:field="*{id}"></p></tr>
    <tr><p>First_Name: <input th:type="text" th:field="*{firstName}"></p></tr>
    <tr><p>Last_Name: <input th:type="text" th:field="*{lastName}"></p></tr>
    <tr><p>Age: <input th:type="number" th:field="*{age}"></p></tr>
    <tr><p>Email: <input th:type="text" th:field="*{email}"></p></tr>
    <tr><p>Username: <input th:type="text" th:field="*{username}"></p></tr>

    <tr><p>Password: <input th:type="text" name="newPassword"></p></tr>
    <tr>
        <select type="text" name="roleDTO">
            <option value="ROLE_ADMIN" >ADMIN</option>
            <option value="ROLE_USER" >USER</option>
            <option value="ROLE_USER_ADMIN" >USER&ADMIN</option>
        </select>
    </tr>
    <tr><p>Action: <input th:type="submit" th:value="Submit"></p></tr>

</form>
</body>
</html>