

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello! This is Hello page of CRUD App!!!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container-fluid">


    <div class="row">

        <div class="col-md-11" style="color:white; background-color: black">
            <ul class="nav">
                <strong class="text-left" id="current_username"></strong>
                <normal id="current_roles"></normal>
            </ul>
        </div>

        <div class="col-md-1" style="color:white; background-color: black">
            <ul class="nav">
                <a class="text-right" style="color:white; background-color: black" href="/logout">Logout</a>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">

            <ul class="nav nav-pills flex-column">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link"  href="/admin/home" id="navtab_admin">Admin</a>

                    </li>
                </div>
                <div sec:authorize="hasRole('ROLE_USER')">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#user_content" onclick="javascript:getUserInfo()" id="navtab_user">User</a>
                    </li>
                </div>
            </ul>
        </div>


        <div class="col-md-10">
            <div class="tab-content">
                <div sec:authorize="hasRole('ROLE_USER')">
                    <div class="tab-pane active" id="user_content" role="tabpanel">
                        <h1>User information-page</h1>
                        <table class="table table-striped table-active table-bordered">
                            <thead>
                            <div class="container-fluid">
                                <h4>About user</h4>
                            </div>

                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="userInfo"></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>
</div>

</div>
</div>


<div  class="modal fade" id="myModal"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit user</h4>
                <button class="close" data-dismiss="modal">?</button>
            </div>
            <div class="modal-body">
                <form th:role="form" action="#" id="updateUser"   method="POST" >
                    <div class="row">
                        <div class="col-md-3" ></div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="font-weight-bold text-center" th:for="id"   >ID</label>
                                </div>
                                <input  type="text" value="" class="form-control" name="id" id="modal_id" >
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="font-weight-bold" th:for="firstName">First name</label>
                                </div>
                                <input type="text"  th:value="test" class="form-control" name="firstName"
                                       id="modal_firstName" th:placeholder="test">
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="font-weight-bold" th:for="lastName">Last name</label>
                                </div>
                                <input type="text"  th:value="test" class="form-control" name="lastName"
                                       id="modal_lastName" th:placeholder="test">
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="font-weight-bold" th:for="age">Age</label>
                                </div>
                                <input type="number" th:value="test" class="form-control" name="age" id="modal_age"
                                       th:placeholder="test">
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="font-weight-bold" th:for="email">Email</label>
                                </div>
                                <input type="text" th:value="test" class="form-control" name="email" id="modal_email"
                                       th:placeholder="test">
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="font-weight-bold" th:for="username">Username</label>
                                </div>
                                <input type="text" th:value="test" class="form-control" name="username"
                                       id="modal_username" th:placeholder="test">
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="font-weight-bold" th:for="newPassword">Password</label>
                                </div>
                                <input type="password" class="form-control" name="newPassword" id="modal_newPassword">
                            </div>

                            <div class="text-center">
                                <label class="font-weight-bold" th:for="Role" >Role</label>
                            </div>

                            <select class="form-control"  type="text" name="roleDTO"  id = "modal_roles" size="2" multiple required>
                                <option value="ROLE_ADMIN" >ADMIN</option>
                                <option value="ROLE_USER" >USER</option>
                            </select>
                            <div class="col-md-3" ></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="button" button id="onclickFunction" onclick="">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="/user-page-script.js"></script>

</body>
